
*{
  margin: 0 auto;
  padding: 0;
  border: 0;
}

body{
  width: 100%;
  height: 100vh;
}

nav{
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 9px maroon;
}

.main-center{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
}

.main-center p{
  transition: 300ms ease-in-out;
}

.main-center p:hover{
  color: #DDDDDD;
  cursor: pointer;
}

.main-links{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-links > li{
  list-style-type: none;
  font-size: 5rem;
  margin: 1rem;
}

.main-links > li > a{
  text-decoration: none;
  color: black;
  transition: 300ms ease-in-out;
}

.main-links > li > a:hover{
  color: #DDDDDD;
}

main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container h2{
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container button{
  margin-top: 4rem;
  width: 9rem;
  height: 5rem;
  border: 2px solid black;
  border-radius: 0.7rem;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.container button:hover{
  background-color: #ecb8b8;
  color: #ffffff;
  border: 2px solid #c99191;
}